.introduction{
    position: relative;
    background-color: #260101;
    /*height: 50vh;*/
    padding: 100px 0 200px ;

}
/*-------------Fade Introduction-------------*/
.line-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}
.glass{
    position: absolute;
    top: 0;
    background: rgba(0, 6, 19, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.fade-section{
    position: absolute;
    height: 250px;
    width: 100%;
    top: -250px;
    /*background-color: #000613;*/
    background-image: linear-gradient(0, #1e0205 35%, rgba(0, 0, 0, 0));
}
.fade-section-2{
    -webkit-box-shadow: 0px -10px 10px 0px rgba(38, 1, 1, 0.75);
    -moz-box-shadow: 0px -10px 10px 0px rgba(38, 1, 1, 0.75);
    box-shadow: 0px -10px 10px 0px rgba(38, 1, 1, 0.75);
    position: absolute;
    z-index: 11;
    height: 250px;
    width: 100%;
    bottom: -250px;
    /*background-color: #000613;*/
    /*background-image: linear-gradient(180deg, #000613 35%, rgba(0, 0, 0, 0));*/
}

/*-------------Title Introduction-------------*/
.title-intro{
    position: relative;
    z-index: 5;
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
    color: #F21B2D;
    transform: rotate(-90deg) translateX(-275px) translateY(-109px);
    font-size: 4rem;
    letter-spacing: -5px;
    font-weight: 900;
}
/*-------------Text Introduction-------------*/
.text-intro{
    z-index: 5;
    position: relative;
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
    color: white;
    width: 60%;
    font-size: 1.2rem;
    padding-left: 286px;
}

@media all and (min-width: 1024px) and (max-width: 1366px) {

    .text-intro{
        width: 80%;
        /*padding: 10px 20px;*/
        /*font-size: 0.8rem;*/
    }
    /*.introduction{*/
    /*    padding: 100px 0;*/
    /*    text-align: center;*/
    /*}*/
    /*.text-intro{*/
    /*    width: 98%;*/
    /*    padding: 10px 100px;*/
    /*    font-size: 1rem;*/
    /*}*/
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .title-intro{
        margin: auto;
        transform: rotate(0) translateX(0) translateY(0);
        font-size: 2rem;
        letter-spacing:0;

    }
    .text-intro{
        width: 98%;
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .introduction{
        padding: 100px 0;
        text-align: center;
    }
    .text-intro{
        width: 98%;
        padding: 10px 100px;
        font-size: 1rem;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .title-intro{
        margin: auto;
        transform: rotate(0) translateX(0) translateY(0);
        font-size: 2rem;
        letter-spacing:0;
    }
    .text-intro{
        width: 98%;
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .introduction{
        padding: 100px 0;
        text-align: center;
    }
    .text-intro{
        width: 98%;
        padding: 10px 100px;
        font-size: 1rem;
    }
}

@media all and (max-width: 480px) {
    .introduction{
        text-align: center;
        padding: 100px 0 50px ;
    }
    .title-intro{
        margin: auto;
        transform: rotate(0) translateX(0) translateY(0);
        font-size: 2rem;
        letter-spacing:0;
    }
    .text-intro{
        width: 98%;
        padding: 0 20px;
        font-size: 0.9rem;
    }
}